<!DOCTYPE html>
<html>
  <head>
    <% include view_header.ejs %>

    <title><%= title %></title>
    <!-- <link rel='stylesheet' href='/stylesheets/style.css' /> -->
    <script>
      $(function(){
        $('#btn1').click(function(){
          window.location.href = '/consumption';
        });

        $('#btn2').click(function(){
          window.location.href = '/drink';
        });

        $('btnhome').click(function(){
          window.location.href = '/';
        })
      })
    </script>

    <style>
      .pic {
          background-image: url('https://i.imgur.com/N7236Xg.jpeg');
          background-repeat: no-repeat;
          background-size: cover;
          background-color: rgba(0, 0, 0, .3);
          background-blend-mode: multiply;
      }

      .button {
          border: none;
          background-color: transparent;
          padding: 14px 40px;
          text-align: center;
          text-decoration: none;
          display: inline-block;
          font-size: 24px;
          margin: 4px 2px;
          transition-duration: 0.4s;
          cursor: pointer;
      }
      .button1 {
          background-color: transparent;
          color: burlywood;
          border: 2px solid #4CAF50;
      }
      .button1:hover {
          background-color: #4CAF50;
          color: burlywood;
      }
    </style>
  </head>

  <body style="padding-top:70px; font-family:標楷體;" class="pic">
    <% include view_navigator.ejs %>

    <div align="center" style="font-family: 標楷體">
      <b class="label label-danger" style="font-size: xx-large;">專案首頁</b><br /><br />

      <button id="btn1" class="button button1"><b>消費紀錄</b></button><br /><br />
      <button id="btn2" class="button button1"><b>酒櫃管理</b></button><br /><br />
      
    </div>
  </body>
</html>
